@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@1,600&family=Roboto:ital,wght@1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Permanent+Marker&display=swap');

@font-face {
	font-family:"Geomanist-Bold";
	src: url("./fonts/hinted-Geomanist-Bold\ \(1\).ttf") format("truetype");
}

* { 
   margin: 0;
   padding: 0;
   outline: none;
   box-sizing: border-box;
}
body, html {
	height: 100%;


	display: flex;
	flex-direction: column;
}
main {
	background-image: url('./assets/Background.jpg');
	background-repeat: no-repeat;
	background-size: 100% ;
	height: 900px;
	width: 100%;
}
header {
	display: flex;
	padding: 20px 50px;
	justify-content: space-between;
}
header ul {
	display: flex;
	align-items: center;
}
header ul li {
 	list-style:none;	
	margin-left: 20px;
}
header ul li a {
 	text-decoration: none;
 	font-size: 18px;
 	font-family: 'Nunito', sans-serif;
 	color: white;
}
header ul li a:hover {
	text-decoration: underline;
}
header ul li:last-child {
	display: flex;
	align-items: center;
}
header ul li:last-child img {
	width: 25px;
	height: 25px;
	margin-left: 5px;
	border-radius: 50%;
}
header ul li:last-child a:hover {
	text-decoration: none;
}
footer {
    height: 50px;
    width: 100%;
    color: white;
    background-color: #B962C2;
    padding-left: 300px;
    font-family: 'Raleway', sans-serif;
    font-size: 9px;
    Display: flex;
	Align-items: center;
	Justify-content: center;
}
section {
	float: right;
	display: flex;
	padding: 20px 100px;
	justify-content: space-between;
}
section ul {
	display: flex;
	align-items: center;
}
section ul li {
 	list-style:none;	
	margin-left: 10px;
}
section ul li a {
 	display: inline;
 	text-decoration: none;
 	text-align: center;
 	font-size: 10px;
 	font-family: 'Nunito', sans-serif;
 	color: white;

}
section ul li a:hover {
	text-decoration: underline;
}
article {
	font-family: 'Nunito', sans-serif;
	line-height: 180%;
	font-size: 15px;
	margin-top: 70px;
	margin-left: 400px;
	margin-right: 400px;
	margin-bottom: 70px;
	display: flex;
	}
	 p { text-indent: 3em;}
button {
	float: right;
	margin-top: 50px;
	margin-right: 100px;
	margin-left: 500px;
	text-decoration: none;
	text-align: center;
	width:500px;  
	height:40px;
	font-size: 20px;
 	font-family: 'Nunito', sans-serif;
 	background-color: #A100D1;
 	color: white;
 	border-color:  #A100D1;
 	border-radius: 4px;
 	box-shadow: none;
}
main #Titulo {
	display: flex;
	flex-direction: column;
	align-self: flex-end;
	margin-top: 300px;
	margin-right: 100px;
}
main #Titulo p:first-child {
	max-width: 420px;
	align-self: flex-end;
}
main #Titulo p {
	font-size: 100px;
	font-weight: bold;
	font-family:"Geomanist-Bold";
	text-align: right;
	background-color: #78C5D6;
	color: #FFF;
	white-space: nowrap;

	padding: 5px 15px;

	margin-bottom: 10px;
}
#Texto{
	background-color: #78C5D6;
	height: 500px;
    Display: flex;
	Align-items: center;
	Justify-content: center;
}
#centro {
	background-color: #A100D1;
	height: 250px;
    width: 100%;
}
#centro p {
	font-size: 10px;
	font-family: arial;
	color:white;
	display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 20vh 20vh 20vh 20vh 20vh;
    grid-gap: 20px;

}
#centro img {
	margin-top: 60px;
	margin-left: 260px;
}